body {
  font-family: 'Monda', sans-serif;
}

.jumbotron {
  background-image: url("../images/mars.jpg");
  height: 500px;
}

.jumbotron h1 {
  color: white;
  margin-top: 5%;
  margin-bottom: 15px;
}

.scraped-text {
  font-size: 20px;
}


.home h1 {
  font-size: 50px;
}


.content-width {
  max-width: 90%;
  max-height: 100%;
  margin-left: 0%;
}

.hemispheres {
  display: grid;
  grid-template-columns: 690px 690px;
  grid-column-gap: 100px;
  justify-content: center;
  padding: 0px;
}

.hemispheres img {
  margin: 0px 0px 40px;
  padding: 0%;
  max-width: 100%
}

.hemispheres p {
    font-size: 30px;
}

footer p {
    font-size: 16px;
}
